<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
      .background-container {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    </style>
    <title>Student Manager</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/newbase.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro&display=swap" rel="stylesheet">

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>
  <body>

     <nav>
      <div class="toggle">
        <a href="{% url 'home' %}">TRIED AND TESTED ACADEMY</a>
        
        <!-- Only show the icon if the user is NOT on the login page -->
        {% if request.resolver_match.url_name != 'login' %}
            {% if user.is_authenticated %}
                
                <!-- If on the account page, make the icon go back/close -->
                {% if request.resolver_match.url_name == 'account' %}
                    <a href="javascript:history.back()" style="color: inherit; text-decoration: none; padding-right: 15px;">
                        <i class="fa fa-bars"></i>
                    </a>
                <!-- Otherwise, make the icon open the account page -->
                {% else %}
                    <a href="{% url 'classroom:account' %}" style="color: inherit; text-decoration: none; padding-right: 15px;">
                        <i class="fa fa-bars"></i>
                    </a>
                {% endif %}
                
            {% endif %}
        {% endif %}
      </div>
    </nav>

    {% block content %}
    {% endblock %}

  </body>
</html>


